.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1.35fr 0.65fr;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;

  @media (max-width: 1200px) {
    gap: 3rem;
  }

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }

  .main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .insights {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .products {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 2rem;

      @media (max-width: 1024px) {
        order: 2;
      }
    }
  }

  .releases {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1024px) {
      order: 1;
    }
  }
}
